html {
    font-family: Helvetica;
    display: inline-block;
    margin: 0px auto;
    text-align: left;
    background-color: deepskyblue;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: lightgrey;
}

input[type=text] {
    width: 85%;
}

input.decimal {
    width: 55px;
}

input[type=number] {
    width: 50%;
}

input[type=password] {
    width: 85%;
}

input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
}

input[type=submit] {
    background-color: darkblue;
    width: 100%;
    color: beige;
    text-align: center
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 24px;
    color: #444444;
    margin-bottom: 10px;
    font-weight: bold;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
}

.radio-group {
    display: flex;
    gap: 20px; /* Add spacing between radio buttons */
    align-items: center;
}
.radio-group label {
    margin-left: 5px; /* Add spacing between radio button and label */
}